@font-face {
    font-family: 'GreyQo';
    src: url('../fonts/GreyQo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.AboutBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.AboutBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/aboutwallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.06; /* Adjust opacity as needed */
    z-index: 1; /* Layer it below the content */
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    z-index: 2;
    margin-top: 50px;
}

.AboutHUDIcon {
    width: 70px;
    height: auto;
}

.title {
    font-family: 'GreyQo';
    font-size: 5rem;
    font-weight: normal;
    text-shadow: 1px 1px rgb(212, 212, 212);
    z-index: 3;
}

.portrait {
    height: 30%;
    width: auto;
    border-radius: 100px;
    opacity: 1;
    z-index: 3;
}