.AboutBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.AboutBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/aboutwallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.05; /* Adjust opacity as needed */
    z-index: 1; /* Layer it below the content */
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    z-index: 2;
}