@font-face {
    font-family: 'GreyQo';
    src: url('../fonts/GreyQo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.EducationBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.EducationBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/educwallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.03; 
    z-index: 1;  
}

.Education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 850px;
    min-height: 400px;
    z-index: 2;
    padding: 10px;
}

.Education img {
    height: 40px;
    width: auto;
}

.Education h1 {
    font-family: 'GreyQo';
    font-size: 3rem;
    text-shadow: 1px 1px rgb(212, 212, 212);
    z-index: 3;
}

.Section {
    height: 100%;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.School {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    padding-right: 30px;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-right: 2px solid #cacaca; /* 2px wide, solid line, black color */
    z-index: 3;
}

.Degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
    padding-left: 30px;
    overflow: hidden;
}

.School img {
    width: 30px;
    height: auto;
}

.school {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 3px;
}

.city {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgb(99, 99, 99);
    margin-bottom: 2px;
}

.date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(99, 99, 99);
}

.degree {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 3px;
}

.major {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
}

.GPA {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(99, 99, 99);
    margin-bottom: 2px;
}

.awards {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(99, 99, 99);
    margin-bottom: 2px;
}