@font-face {
    font-family: 'GreyQo';
    src: url('../fonts/GreyQo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ExperienceBanner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ExperienceBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/experwallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.03; /* Adjust opacity as needed */
    z-index: 1; /* Layer it below the content */
}

.Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
    padding: 10px;
}

.Education img {
    height: 40px;
    width: auto;
}

.Experience h1 {
    font-family: 'GreyQo';
    text-shadow: 1px 1px rgb(212, 212, 212);
    font-size: 3rem;
    z-index: 3;
}

.Section {
    height: 300px;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Role {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    justify-content: center;
    width: 65%;
    height: 100%;
    overflow: hidden;
}

.Company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    width: 35%;
    height: 100%;
    padding-right: 30px;
    border-right: 2px solid #cacaca; /* 2px wide, solid line, black color */
    overflow: hidden;
}

.Company img {
    width: auto;
    height: 30px;
}

.company {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin: 3px;
}

.dates {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(99, 99, 99);
}

.role {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 3px;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(117, 117, 117);
}