.MapAPIPage {
    display: flex;
    flex-direction: column;
}
/*
.MapAPIBanners {
    margin-top: 50px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.MapAPIBanners::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/mapapi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.06; 
    //z-index: 1;
}*/

.MapAPI {
    height: 800px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}