.Navbar {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;  
    position: fixed;
    border: 1px solid #bebebe; 
    z-index: 1000;
    justify-content: space-between;
}

.LeftItems {
    display: flex;
    flex-direction: row;
}

.NavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border-bottom: 1px solid #ffffff;
    //transition: transform 0.3s ease, letter-spacing 0.3s ease, text-shadow 0.3s ease;
}

.NavButton:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.NavButton.active {
    font-weight: bold;
    border-top: 2px transparent;
    border-bottom: 2px solid #000000;
}

.NavIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Connections {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    width: 225px;
    overflow: hidden;
}

/* Style for when backend is connected */
.connected {
    color: green;
  }
  
  /* Style for when backend is not connected */
  .not-connected {
    color: red;
  }
  
  /* Optional: Style for loading state */
  .loading {
    color: gray;
  }