.SpotifyPage {
    display: flex;
    flex-direction: column;
}

.Spotify {
    height: 770px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}